body {
  background-color: rgba(30, 2, 82, 0.953);
}
body {
  color: rgb(255, 255, 255);
}
h1 {
  text-align: center;
}
.fcc-btn {
  text-align: center;
}
.imagen {
  position: absolute; 
  top: 100px; 
  left: 40px; 
}
img {
  margin-top: 100px;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
ul {
  font-family: 'Press Start 2P', cursive;
}
h1 {
  font-family: 'Press Start 2P', cursive;
}
p {
  font-family: 'Press Start 2P', cursive;
}
.fcc-btn {
  font-family: 'Press Start 2P', cursive;       
}
.fcc-btn {
  background-color: #fe0000;
  border-radius: 15px;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}
.fcc-btn {
  display: block;
  margin: 0 auto;
}
